.news-content{
    background-color: rgb(242,242,242);
    padding: 30px 0 0;
}
.news-content .title-block > span{
    display: inline-block;
}
.news-content .title-block > span:nth-child(1){
    width: 40%;
    height: 20px;
    background-color: black;
}
.news-content .title-block > span:nth-child(1)::before{
    display: block;
    content: '';
    border: 22px solid transparent;
    border-bottom: 20px solid rgb(242,242,242);
    position: relative;
    width: 0;
    height: 0;
    left: calc(100% - 22px);
    top: -22px;
}
.news-content .title-block > span:nth-child(2){
    margin-left: 10px;
    font-size: 18px;
    position: relative;
    z-index: 999;
}
.news-content > div:nth-child(2){
    width: 100%;
    padding: 20px 10% 60px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    background-color: white;
}
.news-content > div:nth-child(2) .cont-box{
    flex: 0 0 calc(100% / 2 - 15px);
    width: calc(100% / 2 - 15px);
    display: flex;
}
.news-content > div:nth-child(2) .cont-box > div{
    flex: 0 0 50%;
    margin-top: 20px;
}
.news-content > div:nth-child(2) .cont-box:nth-child(2n){
    margin-left: 30px;
}
.news-content > div:nth-child(2) .cont-box > div img{
    width: 95%;
    cursor: pointer;
}    
.news-content > div:nth-child(2) .cont-box div time{
    color: rgb(230, 230, 230);
    line-height: 60px;
}
.news-content > div:nth-child(2) .cont-box div p{
    font-family: emoji;
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    .news-content > div:nth-child(2) .cont-box{
        flex: 0 0 100%;
        width: 100%;
        flex-wrap: wrap;
        border-bottom: solid 1px black;
        padding-bottom: 30px;
    }
    .news-content > div:nth-child(2) .cont-box > div{
        flex: 0 0 100%;
        margin-top: 20px;
    }
    .news-content > div:nth-child(2) .cont-box:nth-child(2n){
        margin-left: 0px;
    }
}